* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html, body {
   height: 100%;
   width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #F7F7FF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.heading h1{
    font-size: 5rem;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 1rem;
    border: 2px solid black;
    color: #424242;
}
.div{
    height: 30rem;
    width: 25rem;
    /* background-color: #23B5D3; */
    border-radius: 2rem;
    justify-content: center;
    margin-top: 12rem;
    align-items: center;
    text-align: center;
}
.div h1{
    font-size: 3.2rem;
    font-weight: 400;
}
.div button{
    height: 60px;
    width: 150px;
    margin-top: 5rem;
    border-radius: 2rem;
    border: 2px solid #2D2D34;
}